<!-- Navbar -->
<header class="headerNavbar">
    <a href="/" class="logo">TASKS</a>
    <div class="navLinks">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
</header>