<!-- Navbar -->
<header class="headerNavbar">
    <a href="/" class="logo">TASKS <img src="../images/edit-solid.svg" alt=""></a>
    <div class="navLinks">
        <a href="/login" class="login">Login</a>
        <div class="horizLine">|</div>
        <a href="/signup" class="signup">Register</a>
    </div>
</header>