<div class="Login">
    <h3 class="loginHeading">Login</h3>
    <div class="emailDiv inputDiv">
        <input type="text" class="email" id="email" placeholder="Enter Email">
    </div>
    <div class="entPasswordDiv inputDiv">
        <input type="password" class="password" placeholder="Enter Password">
    </div>
    <div class="submitBtnDiv">
        <input type="submit" class="submitBtn" value="Log In">
    </div>
</div>