<div class="signUp">
    <h3 class="signupHeading">Sign Up</h3>
    <div class="emailDiv inputDiv">
        <input type="text" class="email" id="email" placeholder="Enter Email">
    </div>
    <div class="entPasswordDiv inputDiv">
        <input type="password" class="password" placeholder="Enter Password">
    </div>
    <div class="re-passwordDiv inputDiv">
        <input type="password" class="re-password" placeholder="Re-enter Password">
    </div>
    <div class="submitBtnDiv">
        <input type="submit" value="Register">
    </div>
</div>