.Login {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    border: 1px solid $lightBorderColor;
    width: 320px;
    height: 310px;
    padding: 20px 30px;
    margin: 50px auto 0 auto;
    box-shadow: $boxShadow;
    z-index: 100;
    display: none;
    transition: display 0.3s ease-in;

    .loginHeading {
        font-size: 22px;
        font-weight: bold;
        color: $primaryColor;
        text-align: center;
        // text-transform: uppercase;
    }

    .inputDiv {
        width: 100%;
        border: 2px solid $lightBorderColor;
        border-radius: 3px;
        margin-top: 35px;


        input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 13px;
            padding: 7px 10px;

            &::placeholder {
                color: $placeholderColor;
                font-size: 13px;
            }
        }

    }

    .entPasswordDiv, .re-passwordDiv {
        margin-top: 12px;
    }

    .submitBtnDiv {
        margin-top: 25px;

        .submitBtn {
            border: 2px solid $primaryColor;
            background-color: $primaryColor;
            color: $white;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 5px 10px;
            border-radius: 3px;
            transition: all 0.4s;

            &:hover {
                // background-color: $primaryColor;
                // color: $white;
                opacity: 0.8;
            }
        }
    }
}

